@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TiendaOnline</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TiendaOnline.styles.css" asp-append-version="true" />
    <link href="~/css/Home/estiloLayout.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    @RenderSection("Styles", required: false)
</head>
<body>

    <header >
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid" id="barra-superior">

                <!-- Menú adaptable: dropdown en móvil, inline en escritorio -->
                <ul class="navbar-nav barra-desplegable flex-lg-row gap-lg-4">
                    <li class="nav-item d-lg-block d-none">
                        <a class="nav-link text-dark" asp-area="Publica" asp-controller="Home" asp-action="Index">Inicio</a>
                    </li>
                    <li class="nav-item d-lg-block d-none">
                        <a class="nav-link text-dark" asp-area="Publica" asp-controller="Home" asp-action="Novedades">Novedades</a>
                    </li>
                   

                    <!-- Ícono menú solo visible en móvil -->
                    <li class="nav-item dropdown d-lg-none">
                        <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown">
                            <span class="material-symbols-outlined">menu</span>
                        </a>
                        <ul class="dropdown-menu menu-desplagable-acciones">
                            <li><a class="dropdown-item di-menuIzquierda" asp-area="Publica" asp-controller="Home" asp-action="Index">Inicio</a></li>
                            <li><a class="dropdown-item di-menuIzquierda" asp-area="Publica" asp-controller="Home" asp-action="Novedades">Novedades</a></li>
                            <li><a class="dropdown-item di-menuIzquierda" asp-area="Publica" asp-controller="Productos" asp-action="Buscar">Buscar</a></li>
                        </ul>
                    </li>
                </ul>

                <!-- Centro: logo -->
                <a class="navbar-brand mx-auto" asp-area="Publica" asp-controller="Home" asp-action="Index">
                    <img class="img-fluid" src="~/images/Captura de pantalla 2025-10-07 144805.png" asp-append-version="true" />
                </a>

                <!-- Mostrar bienvenida y nombre usuario-->
                @if (User.Identity.IsAuthenticated)
                {
                    <span class="me-4">Hola, @User.Claims.Where(x => x.Type == ClaimTypes.Name).FirstOrDefault().Value</span>
                }

                <!-- Derecha: íconos de interacción  de usuario-->
                <ul class="navbar-nav flex-row gap-3">
                    <li class="nav-item position-relative">
                        <a id="abrir-carrito" class="nav-link text-dark" asp-area="Publica" asp-controller="Productos" asp-action="Buscar"><!-- TODO Añadir pantalla busqueda para mostrar ropa -->
                            <span class="material-symbols-outlined">search</span>
                        </a>
                    </li>

                    <!-- Carrito de la compra desplegable -->
                    <li class="nav-item position-relative">
                        <a class="nav-link text-dark" asp-area="Publica" asp-controller="Carrito" asp-action="Index">
                            <span class="material-symbols-outlined">shopping_bag</span>
                        </a>
                    </li>

              

                    <!--Menú desplegable usuario:
                        Si el usuario no ha iniciado sesión, mostrar "Iniciar sesión" y "Registrarse"
                        Si el usuario ha iniciado sesión, mostrar "Perfil", "Pedidos", y "Cerrar sesión"
                    -->
                    <li class="nav-item dropdown menu-desplegable-usuario ">
                        <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            <span class="material-symbols-outlined">person</span>
                        </a>
                         
                        @if (User.Identity.IsAuthenticated) 
                        {
                           
                            <ul class="dropdown-menu menu-usuario">
                                <li><a class="dropdown-item di-menu-usuario" asp-area="Publica" asp-controller="Usuario" asp-action="Index">Perfil</a></li>
                                <li><a class="dropdown-item di-menu-usuario" asp-area="Publica" asp-controller="Usuario" asp-action="Pedidos">Pedidos</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item di-menu-usuario" asp-area="Publica" asp-controller="Usuario" asp-action="LogOut">Cerrar sesión</a></li>
                            </ul>
                        }
                        else {
                            <ul class="dropdown-menu menu-usuario">
                                <li><a class="dropdown-item" asp-area="Publica" asp-controller="Usuario" asp-action="LoginView">Iniciar sesión</a></li>
                                <li><a class="dropdown-item" asp-area="Publica" asp-controller="Usuario" asp-action="RegistroView">Registrarse</a></li>  
                            </ul>
                       
                        }
                        <!--Fin de comprobacion por Claims-->
                    </li>
                   
                </ul>
            </div>
        </nav>

        <!-- Ruta artificial TODO-->
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="breadcrumb">
                @ViewBag.Breadcrumb
            </div>
        </nav>


    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-light text-dark pt-5 pb-4">
        <div class="container">
            <div class="row">

                <!-- AYUDA -->
                <div class="col-md-3 mb-4">
                    <h5 class="fw-bold text-uppercase">Ayuda</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-dark">Devoluciones</a></li>
                        <li><a href="#" class="text-dark">Seguir tu orden</a></li>
                        <li><a href="#" class="text-dark">Encuentra una tienda</a></li>
                        <li><a href="#" class="text-dark">FAQs</a></li>
                    </ul>
                </div>

                <!-- SOBRE NOSOTROS -->
                <div class="col-md-3 mb-4">
                    <h5 class="fw-bold text-uppercase">Sobre nosotros</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-dark">Biografía</a></li>
                        <li><a href="#" class="text-dark">Contáctanos</a></li>
                        <li><a href="#" class="text-dark">Careers</a></li>
                        <li><a href="#" class="text-dark">Convierteté en afiliado</a></li>
                    </ul>
                </div>

                <!-- CATEGORIAS -->
                <div class="col-md-3 mb-4">
                    <h5 class="fw-bold text-uppercase">categorias</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-dark">Camisetas</a></li>
                        <li><a href="#" class="text-dark">Pantalones</a></li>
                        <li><a href="#" class="text-dark">Sudaderas</a></li>
                    </ul>
                </div>

                <!-- DESCUENTOS -->
                <div class="col-md-3 mb-4">
                    <h5 class="fw-bold text-uppercase">Únete a la lista</h5>
                    <p>Recibe un descuento del 15% en tu primera compra</p>
                    <form class="d-flex form-descuento">
                        <input type="email" class="form-control me-2" placeholder="Tu Email">
                        <button type="submit" class="btn btn-dark">ENVIAR</button>
                    </form>
                    <div class="mt-3">
                        <!-- Redes sociales -->
                        <a href="#" class="me-2"><i class="fab fa-facebook-f text-black"></i></a>
                        <a href="#" class="me-2"><i class="fab fa-instagram text-black"></i></a>
                        <a href="#"><i class="fab fa-pinterest-p text-black"></i></a>
                    </div>
                </div>
            </div>

            <!-- Final footer -->
            <div class="row mt-4 pt-3 border-top">
                <div class="col-md-6 text-center text-md-start">
                    <small>© StreetSize 2025.Todos los derechos reservados</small>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <a href="#" class="text-dark me-3">Política de privacidad
                    </a>
                    <a href="#" class="text-dark">Términos y Condiciones</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
